/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/images/avatars
/public/images/teams
/storage/*.key
/storage/backups
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
